@font-face {
  font-family: "svg-usuario";
  src: url('svg-usuario.eot?t=1715446358280'); /* IE9*/
  src: url('svg-usuario.eot?t=1715446358280#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("svg-usuario.woff2?t=1715446358280") format("woff2"),
  url("svg-usuario.woff?t=1715446358280") format("woff"),
  url('svg-usuario.ttf?t=1715446358280') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('svg-usuario.svg?t=1715446358280#svg-usuario') format('svg'); /* iOS 4.1- */
}

[class^="svg-usuario-"], [class*=" svg-usuario-"] {
  font-family: 'svg-usuario' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.svg-usuario-carro:before { content: "\ea01"; }
.svg-usuario-cedula:before { content: "\ea02"; }
.svg-usuario-mascota:before { content: "\ea03"; }
.svg-usuario-user-add:before { content: "\ea04"; }
.svg-usuario-user-check:before { content: "\ea05"; }
.svg-usuario-user-remove:before { content: "\ea06"; }
.svg-usuario-user:before { content: "\ea07"; }
.svg-usuario-users:before { content: "\ea08"; }

