.container {
  justify-items: center;
}

.btn {
  width: auto;
  height: min-content;
  padding: $padding-md-btn;
  margin: 0;
  border-radius: $border-radius-btn;
  border: 0;
  display: grid;
  grid-column-gap: $column-gap-btn;
  justify-items: center;
  align-items: center;
  line-height: 19.36px;
  grid-auto-flow: column;
  font-size: $font-size-md-btn;
  font-weight: $font-weight-md-btn;
  transition: $background-btn-transition;

  @extend %transition;

  & svg {
    width: $icon-size-btn;
    height: $icon-size-btn;
  }

  &.btn-lg {
    padding: $padding-lg-btn;
    font-size: $font-size-lg-btn;
    line-height: 24.2px;
  }

  &.btn-primary {
    background-color: $primary !important;
    color: $white;

    &:hover {
      background-color: $primary-light !important;
      color: $white;
    }

    &:active:focus {
      background-color: $primary-dark !important;
      color: $white;
    }

    &:disabled {
      background-color: $primary !important;
      opacity: 0.4;
      color: $white;
    }

    & svg {
      fill: $white;
    }
  }

  &.btn-secondary {
    background-color: $white !important;
    color: $primary;
    border: 1px solid $primary !important;

    & svg {
      fill: $primary;
    }

    &:active:focus {
      background-color: $gray-light-2 !important;
      color: $primary-dark;
      border-color: $primary-dark !important;

      & svg {
        fill: $primary-dark;
      }
    }

    &:hover {
      background-color: $celeste-light !important;
      color: $primary-light;
      border-color: $primary-light !important;

      & svg {
        fill: $primary-light;
      }
    }

    &:disabled {
      background-color: $white;
      color: $primary;
      opacity: 0.4;
    }
  }

  &.btn-danger {
    background-color: $red !important;
    color: $white;
    transition: all 320ms ease-in-out;

    &:hover {
      background-color: $red !important;
      opacity: 0.7;
      color: $white;
    }

    &:active:focus {
      background-color: $red-dark !important;
      opacity: 1;
      color: $white;
    }

    &:disabled {
      background-color: $red !important;
      opacity: 0.4;
      color: $white;
    }

    & svg {
      fill: $white;
    }

    &.light {
      background-color: $red-light !important;
      color: $red;
      border: 1px solid $red !important;

      & svg {
        fill: $red;
      }

      &:active:focus {
        background-color: $red-light !important;
        color: $red-dark;
        border-color: $red-dark !important;

        & svg {
          fill: $red-dark;
        }
      }

      &:hover {
        opacity: 0.7;

        & svg {
          fill: $red-light;
        }
      }

      &:disabled {
        background-color: $white !important;
        color: $red !important;
        opacity: 0.4;
      }
    }
  }

  &.float {
    @extend .rounded-circle;
    padding: 0;
    width: $size-md-btn-float;
    height: $size-md-btn-float;

    & svg {
      width: $icon-size-md-float;
      height: $icon-size-md-float;
    }

    &.btn-lg {
      padding: 0;
      width: $size-lg-btn-float;
      height: $size-lg-btn-float;

      & svg {
        width: $icon-size-lg-float;
        height: $icon-size-lg-float;
      }
    }

    &.btn-primary {
      background-color: $primary !important;
      color: $white;

      &:active:focus {
        background-color: $primary-dark !important;
        color: $white !important;
      }

      &:hover {
        background-color: $primary-light !important;
        color: $white;
      }

      &:disabled {
        background-color: $primary !important;
        opacity: 0.4;
        color: $white;
      }

      & svg {
        fill: $white;
      }
    }

    &.btn-secondary {
      background-color: $white;
      color: $primary;
      border: 1px solid $primary !important;

      & svg {
        fill: $primary;
      }

      &:active:focus {
        background-color: $gray-light-2 !important;
        color: $primary-dark;
        border-color: $primary-dark;

        & svg {
          fill: $primary-dark;
        }
      }

      &:hover {
        background-color: $celeste-light;
        color: $primary-light;
        border-color: $primary-light;

        & svg {
          fill: $primary-light;
        }
      }

      &:disabled {
        background-color: $white;
        color: $primary;
        opacity: 0.4;
      }
    }
  }
}
