input[type="checkbox"].check:checked,
input[type="checkbox"].check:not(:checked) {
  border-radius: 0.35rem !important;
}

div.checkbox {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-column-gap: 8px;
  grid-template-columns: min-content;

  & input[type="checkbox"] {
    opacity: 1;

    &:disabled {
      & + label ~ span {
        opacity: 0.4 !important;
      }
    }
  }

  & label {
    margin: 0;

    &:before {
      display: none;
    }
  }

  & span {
    color: $gray;
  }
}

input[type="checkbox"].check {
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  width: $size-radio-input !important;
  height: $size-radio-input !important;
  padding: $padding-radio-input !important;
  position: relative !important;
  cursor: pointer !important;
  transition: $border-checkbox-transition !important;

  &:before {
    width: $size-radio-input !important;
    height: $size-radio-input !important;
    padding: $padding-radio-input !important;
    position: absolute !important;
    cursor: pointer !important;
    transition: $border-checkbox-transition !important;
    transition: $background-checkbox-transition !important;
  }

  &:disabled {
    opacity: 0.4 !important;
  }

  & + label {
    position: relative !important;

    & svg {
      position: absolute !important;
      top: 0 !important;
      width: 0 !important;
      height: 0 !important;
    }
  }

  &:not(:checked) {
    content: "";
    width: $size-radio-input !important;
    height: $size-radio-input !important;
    padding: $padding-radio-input !important;
    border: $border-radio-input !important;
    cursor: pointer !important;
    transition: $border-checkbox-transition !important;
    background-color: transparent !important;

    @extend .rounded;

    & + label {
      position: absolute !important;
    }
  }

  &:checked {
    width: $size-radio-input !important;
    height: $size-radio-input !important;
    padding: $padding-radio-input !important;
    cursor: pointer !important;
    transition: $border-checkbox-transition, $background-checkbox-transition !important;
    position: absolute !important;
    background-color: $primary !important;
    @extend .rounded;

    & + label {
      position: relative !important;
      pointer-events: none !important;
      display: inline-block !important;
      height: 20px !important;
      width: 20px !important;
      margin: 0;
      user-select: none !important;
      -moz-transition: 0.4s ease !important;
      -o-transition: 0.4s ease !important;
      -webkit-tap-highlight-color: transparent !important;
      -webkit-transition: 0.4s ease !important;
      transition: 0.4s ease !important;

      & svg {
        position: absolute !important;
        left: 0;
        fill: $white !important;
        width: 20px !important;
        height: 20px !important;
      }
    }
  }
}
