.divider-container {
    width: 100%;
    position: relative;
    text-align: center;

    .divider-text {
      background-color: $white;
      padding: 0 12px;
      font-size: 12px;
      font-weight: normal;
      color: $secondary;
      position: relative;
      z-index: 2;
    }

    .divider-line {
      width: 100%;
      border-top: 2px dashed $secondary;
      height: 2px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }