$color-borde: rgb(148, 148, 148);
$color-fondo: #f2f2f2;
$tamaño-borde: 1px;
$tamaño-puntos: 4px;
$radio-bordes: 4px;
$disabled-color: #ccc;

@mixin disabled-styles {
  pointer-events: none;
  opacity: 0.5;
  filter: grayscale(1);
}

.file-div {
  border: $tamaño-borde dashed $color-borde;
  background-color: $color-fondo;
  padding: 20px;
  text-align: center;
  border-radius: $radio-bordes;

  &:before {
    content: "";
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  span {
    font-weight: bold;
    font-size: small;
  }

  &:hover {
    border-color: $primary !important;
    cursor: pointer;

    span {
      color: $primary !important;
    }
  }

  &.upload-file {
    background-color: #0033a1 !important;
    border-color: $primary !important;
    border: none !important;

    span {
      color: $white !important;
    }
  }

  &.disable-file {
    cursor: default;
    border-color: $disabled-color;
    background-color: $disabled-color;
    @include disabled-styles;
  }
}

// <div class="m-4">
//     <div class="file-div" [ngClass]="{'upload-file': logoForm.get('LOGO_ICON')?.value}">
//       <span>
//         <i class="svg-funciones-attachment"></i>
//         Subir Archivo
//       </span>
//     </div>

//     <div class="file-div mt-3" [ngClass]="">
//       <span>
//         <i class="svg-funciones-attachment"></i>
//         Subir Archivo
//       </span>
//     </div>

//     <div class="file-div disable-file mt-3">
//       <span>
//         <i class="svg-funciones-attachment"></i>
//         Subir Archivo
//       </span>
//     </div>
// </div>
