$input-color-error: $red;
$input-color-active: $primary;

$icon-input-size: 20px;

.form-floating > label {
  position: absolute;
  color: $gray;
  top: 0;
  left: 0;
  z-index: 2;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.form-floating {
  position: relative;
  &.input-styles {
    &:has(input.form-control + label) {
      & input.form-control {
        padding-top: 1.625rem;
      }
    }
  }
}

.input-styles {

  &:has(input.form-control:disabled){
    opacity: 0.5;
  }
  & input.form-control {
    &[type="password"]::-ms-reveal {
      display: none;
    }
    &[type="text"],
    &[type="email"],
    &[type="number"],
    &[type="tel"],
    &[type="url"],
    &[type="search"],
    &[type="password"] {
      background-color: $white;
      padding: 10px 10px 10px 10px;
      border-color: $gray-light-1;
      padding-top: 0.625rem;
      padding-bottom: 0.625rem;

      &:disabled {
        cursor: default;
      }

      & + label {
        width: -webkit-fill-available;

        &:has(+ .iconInput) {
          padding-right: 40px;
        }
        &:has(+ .iconInput .icon-md-2) {
          padding-right: 44px;
        }
        &:has(+ .iconInput .icon-lg) {
          padding-right: 48px;
        }
        & p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &:not(:has(+ label + div.iconInput i)) {
        padding-right: 10px;
      }

      &:has(+ label + div.iconInput i) {
        padding-right: 60px;
      }

      &:focus {
        border-color: $gray;
        box-shadow: none !important;
      }

      &:not(:placeholder-shown) {
        border-color: $input-color-active;
      }

      &:focus + label,
      &:not(:placeholder-shown) + label {
        font-size: 15px;
        p {
          color: $input-color-active !important;
        }
      }

      + label + div.iconInput {
        position: absolute;
        top: 19px;
        right: 20px;

        & i {
          font-size: $icon-input-size;
        }
      }
    }
  }
  &.invalidInput {
    border-color: $input-color-error !important;
    box-shadow: none !important;
    & input {
      &[type="text"],
      &[type="email"],
      &[type="number"],
      &[type="tel"],
      &[type="url"],
      &[type="search"],
      &[type="password"] {
        border-color: $input-color-error !important;
        box-shadow: none !important;
        &:focus {
          border-color: $input-color-error !important;
          box-shadow: none !important;
        }
        + label,
        &:focus + label,
        &:not(:placeholder-shown) + label {
          font-size: 15px;

          p {
            color: $input-color-error !important;
          }
        }
      }

      span {
        color: $input-color-error !important;
        font-size: 12px;
      }
    }
  }

  div.invalid {
    span {
      color: $red !important;
      font-size: 12px;
      margin-left: 10px;
      line-height: 14.52px;
    }
  }
}

.only-use-style {
  position: relative !important;
  height: auto !important;
  padding: 7px 0px 4px 0px !important;

  + input.form-control {
    height: 43.21px !important;
    padding: 10px !important;
  }
}

.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-select ~ label::after {
  background-color: transparent !important;
  display: none;
}
