a:not([href]):not([class]),
a {
  color: $primary;
  font-size: $font-size-links;
  font-weight: $font-weight-links;
  line-height: $line-height-links;
  text-decoration: none;
  border-bottom: $border-bottom-links;

  @extend %transition;

  &:hover {
    color: $primary-light;
    border-color: $primary-light;
  }
  &:active {
    color: $primary-dark;
    border-color: $primary-dark;
  }
  &:disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.4;
  }
  &.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.4;
  }

  &.link-danger {
    color: $red;
    border-bottom-color: $red;

    &:active:focus {
      color: $red-dark;
      border-bottom-color: $red-dark;
    }
    &:hover {
      color: $red-light;
      border-bottom-color: $red-light;
    }
  }
}
