.col-form-label {
  &.label-select {
    p {
      color: $primary !important;
      font-size: small !important;
    }
  }

  &.invalid {
    p {
      color: $red !important;
    }
  }
}

ng-select.custom::ng-deep {
  border: 100px;
  border-color: $red;
}

ng-select.custom::ng-deep.ng-select-container::ng-deep {
  min-height: 0px;
  border-radius: 0;
}
