.theme-form input[type="text"].otp-custom {
  background-color: $white;
  border: 1px solid $gray-light-1;

  &:hover {
    border: 1px solid $gray;
  }

  &.filled {
    border: 1px solid $primary;
    &:hover {
      border-color: $primary;
    }
  }

  &.success {
    border: 1px solid $primary;
    &:hover {
      border-color: $primary;
    }
  }

  &.error {
    border: 1px solid $red;
    &:hover {
      border-color: $red;
    }
  }
}
