.container-fluid {
  ul.nav-tabs {
    border-radius: 0px !important;
    @extend %background-border-animation;
    @extend .rounded-top;
    border-bottom-color: $secondary;
    :hover {
      border-radius: 3px 3px 0px 0px;
      background-color: $secondary;
      border-color: $secondary;
      color: $white;
      @extend .rounded-top;
    }

    li {
      @extend .rounded-top;
      @extend %background-border-animation;
      & button.nav-link {
        font-size: 16px;
        @extend %background-border-animation;
        @extend .rounded-top;
        color: $gray;
        &:hover {
          color: $white;
        }
        &.active,
        &:active,
        &:focus {
          background-color: $secondary;
          border-color: $secondary;
          color: $white;
          @extend .rounded-top;
        }
      }
    }
  }
}
