div.textArea-styles {
  textarea:focus + label,
  textarea:not(:placeholder-shown) + label {
    font-size: 15px;

    p {
      color: $primary;
    }
  }

  textarea:focus {
    border-color: $gray-light-1;
    box-shadow: none !important;
  }

  textarea:not(:placeholder-shown) {
    border-color: $primary;
  }

  &.invalid {
    textarea:focus + label,
    textarea:not(:placeholder-shown) + label {
      font-size: 15px;
    }

    textarea:focus {
      border-color: $red !important;
      box-shadow: none !important;
    }

    textarea {
      border-color: $red !important;
      box-shadow: none !important;
    }

    label {
      p {
        color: $red !important;
      }
    }

    span {
      color: $red !important;
      font-size: 12px;
      margin-left: 10px;
      line-height: 14.52px;
    }
  }
}
