// Color Variables

.inactiveMixin {
  content: "";
  position: absolute;
  display: block;
}

.beforeAnimation {
  -moz-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  -o-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  -webkit-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
}

.afterAnimation {
  box-shadow: 0 0 0 0px hsla(0, 0%, 0%, 0.1), 0 4px 0px 0 hsla(0, 0%, 0%, 0.04),
    0 4px 9px hsla(0, 0%, 0%, 0.13), 0 3px 3px hsla(0, 0%, 0%, 0.05);
  -moz-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  -o-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  -webkit-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
}

div.edit-action {
  &:has(input[type="checkbox"].toggle) {
    width: 32px;
  }
}

input[type="checkbox"].toggle.toggle-small {
  & + label {
    &:before {
      height: 14px !important;
      width: 26px !important;
    }
    &:after {
      height: 18px !important;
      width: 18px !important;
    }
  }
}

// Mobile Toggle Switch
input[type="checkbox"] {
  &.toggle {
    opacity: 0; // hides checkbox
    position: absolute;
    & + label {
      position: relative;
      display: inline-block;
      user-select: none;
      -moz-transition: 0.4s ease;
      -o-transition: 0.4s ease;
      -webkit-transition: 0.4s ease;
      transition: 0.4s ease;
      -webkit-tap-highlight-color: transparent;
      // height: 17px;
      // width: 28px;
      //border: 1px solid $gray-light-1;
      border-radius: 60px;
      &:before {
        @extend .inactiveMixin;
        @extend .beforeAnimation;
        height: 16px;
        width: 29px;
        top: 0;
        left: 0;
        background-color: $gray-light-1;
        border-radius: 16px;
        cursor: pointer;
      }
      &:after {
        @extend .inactiveMixin;
        @extend .afterAnimation;
        background: $gray-1;
        border: 1px solid $gray-light-1;
        height: 20px;
        width: 20px;
        top: -2px;
        left: -4px;
        border-radius: 60px;
        cursor: pointer;
      }

      p {
        margin-left: 40px;
      }
    }
    &:disabled {
      & + label {
        border-color: transparent;
        &:before {
          background-color: $gray-light-1-opacity-4;
          cursor: default;
        }
        &:after {
          filter: blur(0.1px);
          cursor: default;
        }
      }
    }
    // When Active
    &.active {
      & + label {
        border-color: transparent;
      }

      & + label:before {
        background: $primary;
        -moz-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
        -o-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
        -webkit-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
        transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
      }
      & + label:after {
        left: 30px - 20px;
      }

      &:disabled {
        & + label {
          border-color: $primary-opacity-4;
          &:before {
            background-color: $primary-opacity-4;
          }
          &:after {
            filter: blur(0.1px);
          }
        }
      }
    }
  }
}
