.tooltip-custom {
  & .tooltip-inner {
    background-color: $secondary-dark !important;
    text-align: center;
    opacity: 1;
    color: white !important;
  }
  &.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: $secondary-dark !important;
  }
  &.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: $secondary-dark !important;
  }
  &.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: $secondary-dark !important;
  }
  &.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: $secondary-dark !important;
  }
}
