:root {
  --theme-deafult: #006666;
  --theme-secondary: #fe6a49;
  --light-background: rgba(242, 243, 247, 0.7);
  --body-font-color: #86909c;
  --chart-border: #e6e9eb;
  --recent-chart-bg: #fcfcfd;
  --light-bg: #eef1f6;
  --white: #fff;
  --light2: #f5f6f9;
  --sidebar-border: rgba(0, 0, 0, 0.1);
  --chart-text-color: rgba(82, 82, 108, 0.8);
  --recent-dashed-border: rgba(82, 82, 108, 0.3);
  --chart-dashed-border: rgba(82, 82, 108, 0.2);
  --chart-progress-light: rgba(82, 82, 108, 0.1);
  --recent-box-bg: #f2f4f7;
  --recent-border: rgba(97, 101, 122, 0.25);
  --course-light-btn: #f2f3f7;
  --course-bg: #f7f7f7;
  --balance-profie-bg: #e0dfef;
  --view-grid-bg: #ecf3fa80;
  --view-border-marker: #cfcdfc;
  --light-slate: #f5f6f9;
  --text-gray: rgba(82, 82, 108, 0.8);
  --product-shadow: 0px 1px 0px rgba(82, 82, 108, 0.15);
  --bs-heading-color: #051a1a;
  --bs-card-color: #051a1a;

  --fc-button-bg-color: var(--theme-deafult);
  --fc-button-active-bg-color: var(--theme-deafult);
  --fc-button-active-border-color: var(--theme-deafult);
  --fc-button-border-color: var(--theme-deafult);
  --fc-button-hover-bg-color: var(--theme-deafult);
  --fc-button-hover-border-color: var(--theme-deafult);

  // rating
  --normal: #eceaf3;
  --normal-shadow: #d9d8e3;
  --normal-mouth: #9795a4;
  --normal-eye: #595861;
  --active: #f8da69;
  --active-shadow: #f4b555;
  --active-mouth: #f05136;
  --active-eye: #313036;
  --active-tear: #76b5e7;
  --active-shadow-angry: #e94f1d;

  // Tagify
  /* Do not show the "remove tag" (x) button when only a single tag remains */
  .customLook {
    --tag-bg: var(--theme-deafult);
    --tag-hover: var(--theme-secondary);
    --tag-text-color: var(--white);
    --tags-border-color: silver;
    --tag-border-radius: 25px;
    --tag-text-color--edit: #111;
    --tag-remove-bg: var(--tag-hover);
    --tag-pad: 0.6em 1em;
    --tag-inset-shadow-size: 1.35em;
    --tag-remove-btn-bg--hover: #000;
    --tagify-dd-color-primary: var(var(--theme-deafult));
    --tagify-dd-bg-color: var(--course-light-btn);
  }
}

.table {
  --bs-body-bg: auto;
}

.dark-only {
  --light-background: #1a1c23;
  --recent-chart-bg: #262932;
  --light-bg: #1d1e26;
  --chart-text-color: #86909c;
  --white: #262932;
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --light2: #1d1e26;
  --chart-border: #1a1c23;
  --recent-box-bg: #1d1e26;
  --recent-border: #374558;
  --body-font-color: rgba(255, 255, 255);
  --course-light-btn: var(--light-bg);
  --view-grid-bg: var(--light-bg);
  --view-border-marker: #2c2c45d4;
  --light-slate: #1c1d26;
  --text-gray: rgba(153, 153, 169, 0.8);
  --product-shadow: 0px 1px 0px rgb(55 70 87);
  --bs-heading-color: rgb(255, 255, 255);
  --bs-card-color: rgba(255, 255, 255, 0.7);
}

$color_1: #333;

//MORE IMPORTANT

// General variables
$theme-font-color: #242934;
$theme-body-font-color: #051a1a;
$theme-body-sub-title-color: #ffffff;
$body-color: #f5f5f5;
$main-body-color: #f5f5f5;

// Theme colors variables
$primary-color: #006666;
$secondary-color: #fe6a49;
$success-color: #00ac46;
$info-color: #173878;
$warning-color: #ffae1a;
$danger-color: #fe6a49;
$light-color: #e6e9eb;
$badge-light-color: #52526c;
$light-gray: #ecf3fa;
$light-widget-border: #efeeff;
$light-semi-gray: #efefef;
$font-gray-color: #6c757d;
$dark-light: $theme-font-color;
$dark-gray: #898989;
$dark-color: #2c323f;
$dark-color-light: #2c323fb8;
$gray-60: #e6e9eb;
$card-body-color: #f9f9fa;
$transparent-color: transparent;
$auth-bg-color: #fafafa;
$light: #fdfeff;
$semi-dark: #59667a;
$light-text: #999999;
$light-paragraph: #8f8f8f;
$light-background: #d7e2e9;
$light-font: rgba(27, 49, 85, 0.4);
$light-semi-font: $semi-dark;
$light-chartist-grid-color: #f6f9fd;
$pitch-color: #fe8a7d;
$color-scarpa: #4c5667;
$color-fiord: #455a64;
$black: #000;
$white: #fff;
$off-white: #f7f6ff;
$theme-medium-color: $main-body-color;
$dropdown-border-color: #918e99;
$light-primary: rgba($primary-color, 0.2);
$light-secondary: rgba($secondary-color, 0.3);
$light-success: rgba($success-color, 0.3);
$light-info: rgba($info-color, 0.3);
$light-warning: rgba($warning-color, 0.3);
$light-danger: rgba($danger-color, 0.3);
$light-white: #f9f9fb;
$light-dark: #eaebf2;
$info-light: #44c6c6;
$light-txt-color: #86909c;
// gradient colors
$gradient-primary: linear-gradient(
  26deg,
  var(--theme-deafult) 0%,
  #006666 100%
);
$gradient-bg-primary: linear-gradient(
  103.75deg,
  #173878 -13.9%,
  var(--theme-deafult) 79.68%
);
$gradient-card-bg-primary: radial-gradient(
  circle,
  rgba(27, 174, 174, 1) 2%,
  rgba(26, 148, 148, 1) 50%,
  rgba(4, 143, 143, 1) 100%
);
$gradient-landing-color: linear-gradient(180deg, #24b5b5 0%, #228585 100%);

// light colors
$primary-light-color: #006666;
$secondary-light-color: #fe6a49;
$warning-light-color: #ffae1a;
$danger-light-color: #fe6a49;
$light-light-color: #e6e9eb;

//social colors
$fb: #50598e;
$twitter: #6fa2d8;
$google-plus: #c64e40;
$linkedin: #0077b5;

// soical table
$fb-color: #2f84f4;
$insta-color: #fc971e;
$pintrest-color: $secondary-color;
$twitter-color: #57b9f6;
$youtube-color: #f42f2f;

//error input color start
$light-body-bg-color: #fafdff;

// dark layout variables
$dark-body-background: #1a1c23;
$dark-card-background: #22242b;
$dark-card-inbox: #323846;
$dark-small-font-color: #98a6ad;
$dark-all-font-color: rgba(255, 255, 255, 0.6);
$light-all-font-color: rgba(255, 255, 255, 0.3);
$dark-border-color: $dark-body-background;
$dark-card-border: rgba(255, 255, 255, 0.1);
$dark-editor-document: #2b2b2b;
$bg-dark-color: #1f2533;
$dark-datatable-odd: #1f232b;
$dark-datatable-sorting: #1c212b;
$dark-datatable-sorting-even: #22262f;
$dark-even-hover-sorting: #191e27;



//BASICS
$white: #ffffff;
$black: #000000;

//Primary
$primary-dark: #008bbf;
$primary: #00aeef;
$primary-light: #20beff;

//Opacity
$primary-opacity-4: #99dff9;
$gray-light-1-opacity-4: #e1e1e1;

//secondary
$secondary-dark: #002c8d;
$secondary: #0033a1;
$secondary-light: #0040ca;

//Gray
$gray-1: #ffffff;
$gray: #787878;
$gray-dark-1: #484848;
$gray-4: #242424;
$gray-light-1: #b4b4b4;
$gray-light-2: #f1f5ff;
$gray-black: #011e41;

//Complementary:

$yellow: #f4b404;
$yellow-light: #fef0cb;
$yellow-dark: #b08400;

$celeste: #8bf2ff;
$celeste-dark: #00d4ec;
$celeste-light: #e8fcff;

$red: #e44b40;
$red-dark: #880c00;
$red-light: #f8dbd8;

$turquoise: #88c4c8;
$turquoise-dark: #4f8488;
$turquoise-light: #e8f4f4;

$green: #84bb0d;
$green-dark: #4f800b;
$green-light: #e8f4d4;

$colors: (
  white: $white,
  black: $black,
  primary-dark: $primary-dark,
  primary: $primary,
  primary-light: $primary-light,
  primary-opacity-4: $primary-opacity-4,
  gray-light-1-opacity-4: $gray-light-1-opacity-4,
  secondary-dark: $secondary-dark,
  secondary: $secondary,
  secondary-light: $secondary-light,
  gray-1: $gray-1,
  gray: $gray,
  gray-dark-1: $gray-dark-1,
  gray-4: $gray-4,
  gray-light-1: $gray-light-1,
  gray-light-2: $gray-light-2,
  gray-black: $gray-black,
  yellow: $yellow,
  yellow-light: $yellow-light,
  yellow-dark: $yellow-dark,
  celeste: $celeste,
  celeste-dark: $celeste-dark,
  celeste-light: $celeste-light,
  red: $red,
  red-dark: $red-dark,
  red-light: $red-light,
  turquoise: $turquoise,
  turquoise-dark: $turquoise-dark,
  turquoise-light: $turquoise-light,
  green: $green,
  green-dark: $green-dark,
  green-light: $green-light,
);

@each $name, $color in $colors {
  .bg-#{"#{$name}"} {
    background-color: $color;
  }
  .font-#{"#{$name}"} {
    color: $color;
  }
  //#{$name}: $color;
}
