#mail-config.card {
  .card-body {
    .form-group {
      .form-input.position-relative {
        input + .iconInput {
          position: absolute !important;
          top: 10px !important;
          right: 0px !important;
        }
      }
      .checkbox {
        input[type="checkbox"] #mailerSecure {
          height: 17px !important;
          width: 17px !important;
        }
      }
    }
  }
}
