.register-page {
  form {
    & h4 {
      margin: 15px 0px;
    }
  }
}

/* You can add global styles to this file, and also import other style files */
$color-borde: #0adffc;

.login-container {
  width: 100%;

  div.row {
    margin-right: 0%;
    margin-left: 0%;
  }

  div.header {
    height: 9vh;
    width: 100%;
    border-bottom: 1px solid $color-borde;
    img {
      height: 8vh !important;
      margin-top: 0.5vh;
    }
  }

  div.body {
    min-height: 85vh !important;
    width: 100%;

    .form-body {
      margin-top: 7%;
      // .form-login {
      //   height: 50%;
      //   width: 50%;
      // }
      img {
        display: flex;
      }
    }
  }

  div.no-margin {
    div.col {
      padding-left: 0%;
      padding-right: 0%;
    }
  }

  div.footer-container {
    min-height: 5vh !important;
    width: 100%;

    .footer-copyright {
      padding: 0% !important;
    }
    
    footer {
      height: 6vh !important;
    }
  }
}
