@font-face {font-family: "svg-flechas";
  src: url('svg-flechas.eot?t=1715446355508'); /* IE9*/
  src: url('svg-flechas.eot?t=1715446355508#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("svg-flechas.woff2?t=1715446355508") format("woff2"),
  url("svg-flechas.woff?t=1715446355508") format("woff"),
  url('svg-flechas.ttf?t=1715446355508') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('svg-flechas.svg?t=1715446355508#svg-flechas') format('svg'); /* iOS 4.1- */
}

[class^="svg-flechas-"], [class*=" svg-flechas-"] {
  font-family: 'svg-flechas' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.svg-flechas-arrow-down:before { content: "\ea01"; }
.svg-flechas-arrow-left-down:before { content: "\ea02"; }
.svg-flechas-arrow-left-up:before { content: "\ea03"; }
.svg-flechas-arrow-left:before { content: "\ea04"; }
.svg-flechas-arrow-right-down:before { content: "\ea05"; }
.svg-flechas-arrow-right-up:before { content: "\ea06"; }
.svg-flechas-arrow-right:before { content: "\ea07"; }
.svg-flechas-arrow-up:before { content: "\ea08"; }
.svg-flechas-caret-down:before { content: "\ea09"; }
.svg-flechas-caret-left:before { content: "\ea0a"; }
.svg-flechas-caret-right:before { content: "\ea0b"; }
.svg-flechas-caret-up:before { content: "\ea0c"; }
.svg-flechas-chevron-double-down:before { content: "\ea0d"; }
.svg-flechas-chevron-double-left:before { content: "\ea0e"; }
.svg-flechas-chevron-double-right:before { content: "\ea0f"; }
.svg-flechas-chevron-double-up:before { content: "\ea10"; }
.svg-flechas-chevron-down:before { content: "\ea11"; }
.svg-flechas-chevron-left:before { content: "\ea12"; }
.svg-flechas-chevron-right:before { content: "\ea13"; }
.svg-flechas-chevron-up:before { content: "\ea14"; }
