.footer {
  background-color: $footer_bg_color;
  box-shadow: $footer_box_shadow;
  padding: 15px;
  bottom: 0;
  left: 0;
  // margin-left: $sidebar-compact-width;
  transition: 0.5s; 

  &.footer-dark {
    background-color: $footer_dark_color;

    p {
      color: $white;
    }
  }
}

.footer-fix {
  width: calc(100% - $sidebar-compact-width);
  position: fixed;
}

footer.footer {
  background-color: $secondary;

  div.footer-copyright {
    width: 50%;
    & div {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-evenly;

      & .social {
        column-gap: 20px;

        & i {
          font-size: 24px;
          color: $white;
        }
      }

      & p {
        color: $white;
      }
    }
  }
}
