@font-face {font-family: "svg-clima";
  src: url('svg-clima.eot?t=1715446355161'); /* IE9*/
  src: url('svg-clima.eot?t=1715446355161#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("svg-clima.woff2?t=1715446355161") format("woff2"),
  url("svg-clima.woff?t=1715446355161") format("woff"),
  url('svg-clima.ttf?t=1715446355161') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('svg-clima.svg?t=1715446355161#svg-clima') format('svg'); /* iOS 4.1- */
}

[class^="svg-clima-"], [class*=" svg-clima-"] {
  font-family: 'svg-clima' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.svg-clima-cloud:before { content: "\ea01"; }
.svg-clima-cloudy:before { content: "\ea02"; }
.svg-clima-drop:before { content: "\ea03"; }
.svg-clima-fog:before { content: "\ea04"; }
.svg-clima-moon:before { content: "\ea05"; }
.svg-clima-rain:before { content: "\ea06"; }
.svg-clima-snow:before { content: "\ea07"; }
.svg-clima-snowflake:before { content: "\ea08"; }
.svg-clima-storm:before { content: "\ea09"; }
.svg-clima-sun:before { content: "\ea0a"; }
.svg-clima-sunrise-alt:before { content: "\ea0b"; }
.svg-clima-sunrise:before { content: "\ea0c"; }
.svg-clima-sunset:before { content: "\ea0d"; }
.svg-clima-temperature:before { content: "\ea0e"; }
.svg-clima-wind:before { content: "\ea0f"; }

$svg-clima-cloud: "\ea01";
$svg-clima-cloudy: "\ea02";
$svg-clima-drop: "\ea03";
$svg-clima-fog: "\ea04";
$svg-clima-moon: "\ea05";
$svg-clima-rain: "\ea06";
$svg-clima-snow: "\ea07";
$svg-clima-snowflake: "\ea08";
$svg-clima-storm: "\ea09";
$svg-clima-sun: "\ea0a";
$svg-clima-sunrise-alt: "\ea0b";
$svg-clima-sunrise: "\ea0c";
$svg-clima-sunset: "\ea0d";
$svg-clima-temperature: "\ea0e";
$svg-clima-wind: "\ea0f";

