@font-face {font-family: "svg-app";
  src: url('svg-app.eot?t=1715446354615'); /* IE9*/
  src: url('svg-app.eot?t=1715446354615#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("svg-app.woff2?t=1715446354615") format("woff2"),
  url("svg-app.woff?t=1715446354615") format("woff"),
  url('svg-app.ttf?t=1715446354615') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('svg-app.svg?t=1715446354615#svg-app') format('svg'); /* iOS 4.1- */
}

[class^="svg-app-"], [class*=" svg-app-"] {
  font-family: 'svg-app' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.svg-app-ADS-01:before { content: "\ea01"; }
.svg-app-ADS-02:before { content: "\ea02"; }
.svg-app-ADS-03:before { content: "\ea03"; }
.svg-app-ADS-04:before { content: "\ea04"; }
.svg-app-ADS-05:before { content: "\ea05"; }
.svg-app-ADS-06:before { content: "\ea06"; }
.svg-app-ADS-07:before { content: "\ea07"; }
.svg-app-ADS-08:before { content: "\ea08"; }
.svg-app-ADS-09:before { content: "\ea09"; }
.svg-app-ADS-10:before { content: "\ea0a"; }
.svg-app-ADS-11:before { content: "\ea0b"; }
.svg-app-ADS-12:before { content: "\ea0c"; }
.svg-app-ADS-13:before { content: "\ea0d"; }
.svg-app-ADS-14:before { content: "\ea0e"; }
.svg-app-ADS-15:before { content: "\ea0f"; }
.svg-app-ADS-16:before { content: "\ea10"; }
.svg-app-ADS-17:before { content: "\ea11"; }
.svg-app-ADS-18:before { content: "\ea12"; }
.svg-app-ADS-19:before { content: "\ea13"; }
.svg-app-ADS-20:before { content: "\ea14"; }
.svg-app-ADS-21:before { content: "\ea15"; }
.svg-app-ADS-22:before { content: "\ea16"; }
.svg-app-ADS-23:before { content: "\ea17"; }
.svg-app-ADS-24:before { content: "\ea18"; }
.svg-app-ADS-25:before { content: "\ea19"; }
.svg-app-ADS-26:before { content: "\ea1a"; }
.svg-app-ADS-27:before { content: "\ea1b"; }
.svg-app-ADS-28:before { content: "\ea1c"; }
.svg-app-ADS-29:before { content: "\ea1d"; }
.svg-app-ADS-30:before { content: "\ea1e"; }
.svg-app-ADS-31:before { content: "\ea1f"; }
.svg-app-ADS-32:before { content: "\ea20"; }
.svg-app-ADS-33:before { content: "\ea21"; }
.svg-app-ADS-34:before { content: "\ea22"; }
.svg-app-ADS-35:before { content: "\ea23"; }
.svg-app-ADS-36:before { content: "\ea24"; }
.svg-app-ADS-37:before { content: "\ea25"; }
.svg-app-ADS-38:before { content: "\ea26"; }
.svg-app-ADS-39:before { content: "\ea27"; }
.svg-app-ADS-40:before { content: "\ea28"; }
.svg-app-ADS-41:before { content: "\ea29"; }

$svg-app-ADS-01: "\ea01";
$svg-app-ADS-02: "\ea02";
$svg-app-ADS-03: "\ea03";
$svg-app-ADS-04: "\ea04";
$svg-app-ADS-05: "\ea05";
$svg-app-ADS-06: "\ea06";
$svg-app-ADS-07: "\ea07";
$svg-app-ADS-08: "\ea08";
$svg-app-ADS-09: "\ea09";
$svg-app-ADS-10: "\ea0a";
$svg-app-ADS-11: "\ea0b";
$svg-app-ADS-12: "\ea0c";
$svg-app-ADS-13: "\ea0d";
$svg-app-ADS-14: "\ea0e";
$svg-app-ADS-15: "\ea0f";
$svg-app-ADS-16: "\ea10";
$svg-app-ADS-17: "\ea11";
$svg-app-ADS-18: "\ea12";
$svg-app-ADS-19: "\ea13";
$svg-app-ADS-20: "\ea14";
$svg-app-ADS-21: "\ea15";
$svg-app-ADS-22: "\ea16";
$svg-app-ADS-23: "\ea17";
$svg-app-ADS-24: "\ea18";
$svg-app-ADS-25: "\ea19";
$svg-app-ADS-26: "\ea1a";
$svg-app-ADS-27: "\ea1b";
$svg-app-ADS-28: "\ea1c";
$svg-app-ADS-29: "\ea1d";
$svg-app-ADS-30: "\ea1e";
$svg-app-ADS-31: "\ea1f";
$svg-app-ADS-32: "\ea20";
$svg-app-ADS-33: "\ea21";
$svg-app-ADS-34: "\ea22";
$svg-app-ADS-35: "\ea23";
$svg-app-ADS-36: "\ea24";
$svg-app-ADS-37: "\ea25";
$svg-app-ADS-38: "\ea26";
$svg-app-ADS-39: "\ea27";
$svg-app-ADS-40: "\ea28";
$svg-app-ADS-41: "\ea29";

