@font-face {
  font-family: "svg-media";
  src: url('svg-media.eot?t=1715446356305'); /* IE9*/
  src: url('svg-media.eot?t=1715446356305#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("svg-media.woff2?t=1715446356305") format("woff2"),
  url("svg-media.woff?t=1715446356305") format("woff"),
  url('svg-media.ttf?t=1715446356305') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('svg-media.svg?t=1715446356305#svg-media') format('svg'); /* iOS 4.1- */
}

[class^="svg-media-"], [class*=" svg-media-"] {
  font-family: 'svg-media' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.svg-media-next:before { content: "\ea01"; }
.svg-media-pause:before { content: "\ea02"; }
.svg-media-play:before { content: "\ea03"; }
.svg-media-previous:before { content: "\ea04"; }
.svg-media-repeat:before { content: "\ea05"; }
.svg-media-shuffle:before { content: "\ea06"; }
.svg-media-stop:before { content: "\ea07"; }
.svg-media-volume-off:before { content: "\ea08"; }
.svg-media-volume-up:before { content: "\ea09"; }

