@font-face {font-family: "svg-comunicacion";
  src: url('svg-comunicacion.eot?t=1715446355357'); /* IE9*/
  src: url('svg-comunicacion.eot?t=1715446355357#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("svg-comunicacion.woff2?t=1715446355357") format("woff2"),
  url("svg-comunicacion.woff?t=1715446355357") format("woff"),
  url('svg-comunicacion.ttf?t=1715446355357') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('svg-comunicacion.svg?t=1715446355357#svg-comunicacion') format('svg'); /* iOS 4.1- */
}

[class^="svg-comunicacion-"], [class*=" svg-comunicacion-"] {
  font-family: 'svg-comunicacion' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.svg-comunicacion-call:before { content: "\ea01"; }
.svg-comunicacion-email:before { content: "\ea02"; }
.svg-comunicacion-facebook:before { content: "\ea03"; }
.svg-comunicacion-instagram:before { content: "\ea04"; }
.svg-comunicacion-linkedin:before { content: "\ea05"; }
.svg-comunicacion-message-alt:before { content: "\ea06"; }
.svg-comunicacion-message:before { content: "\ea07"; }
.svg-comunicacion-messenger:before { content: "\ea08"; }
.svg-comunicacion-tiktok:before { content: "\ea09"; }
.svg-comunicacion-twitter:before { content: "\ea0a"; }
.svg-comunicacion-whatsapp:before { content: "\ea0b"; }
.svg-comunicacion-youtube:before { content: "\ea0c"; }

$svg-comunicacion-call: "\ea01";
$svg-comunicacion-email: "\ea02";
$svg-comunicacion-facebook: "\ea03";
$svg-comunicacion-instagram: "\ea04";
$svg-comunicacion-linkedin: "\ea05";
$svg-comunicacion-message-alt: "\ea06";
$svg-comunicacion-message: "\ea07";
$svg-comunicacion-messenger: "\ea08";
$svg-comunicacion-tiktok: "\ea09";
$svg-comunicacion-twitter: "\ea0a";
$svg-comunicacion-whatsapp: "\ea0b";
$svg-comunicacion-youtube: "\ea0c";

