@font-face {font-family: "svg-caracteres";
  src: url('svg-caracteres.eot?t=1715446354959'); /* IE9*/
  src: url('svg-caracteres.eot?t=1715446354959#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("svg-caracteres.woff2?t=1715446354959") format("woff2"),
  url("svg-caracteres.woff?t=1715446354959") format("woff"),
  url('svg-caracteres.ttf?t=1715446354959') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('svg-caracteres.svg?t=1715446354959#svg-caracteres') format('svg'); /* iOS 4.1- */
}

[class^="svg-caracteres-"], [class*=" svg-caracteres-"] {
  font-family: 'svg-caracteres' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.svg-caracteres-bold:before { content: "\ea01"; }
.svg-caracteres-italic:before { content: "\ea02"; }
.svg-caracteres-list:before { content: "\ea03"; }
.svg-caracteres-strikethrough:before { content: "\ea04"; }
.svg-caracteres-text:before { content: "\ea05"; }
.svg-caracteres-underline:before { content: "\ea06"; }
